@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic);
.container {
  font-family: 'Roboto';
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #dddbde;
  padding: 10px 50px 50px;
}
