@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic);
html {
  font-family: "Open Sans", sans-serif;
  background-color: #dddbde;
}

h1 {
  text-align: center;
}

form {
  padding-left: 2em;
}

input {
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 25em;
  border: none;
  border-bottom: 1px solid #fa6d86;
}

input:focus {
  outline: none;
}

input:focus ~ label {
  top: -20px;
  font-size: .75em;
  color: #fa6d86;
}

input:valid ~ label {
  top: -20px;
  font-size: .75em;
  color: #fa6d86;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

label {
  color: #dddbde;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
