html {
    font-family: $opensans;
    background-color: $lt-grey;
}

h1 {
    text-align: center;
}

form {
    padding-left: 2em;
}

input {
    @include inputfield 
}
    

.group { 
  position:relative; 
  margin-bottom:45px; 
}

label {
  color: $lt-grey; 
  font-size:1em;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 

}

