html 	{ 
  font-family: $opensans;
  background-color:$lt-grey;
}

h2 	{ 
  font-family: $opensans;
  text-align:center; 
  margin-bottom:50px; 
}

.group 			  { 
  position:relative; 
  margin-bottom:2em; 
}